/* COLORS */
$txt-color: #333;
$joopea-blue: #00c0ff;
$joopea-orange: #ff7440;
$turquoise: #008cba;
$turquoise-hover: #007399;

/* FONTS */
$main-font: 'Muli', sans-serif;

/* MEDIA QUERIES */
$tablet: "(min-width: 500px) and (max-width: 900px)";

/* VARIABLES */
