////////////////////////////////////////////////////////////////////////////////
////								 ///////////////////////////////////////////
///  Styling for class switches  	 ///////////////////////////////////////////
//								     ///////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.active { display: none; }
.inactive { display: inline-block; }

.is-active {
	.inactive { display: none; }
	.active { display: inline-block; }
}
