{% extends "core/base.html" %}
{% load thumbnail i18n %}

{% block content %}

    <h1 class="page-title">{% block page_title %}{% trans "Communities" %}{% endblock page_title %}</h1>

    <ul class="communities">
        {% for community in object_list %}
            <span class="communitystamp">
                <a class="community-link" href="{% url 'wall:community' pk=community.pk %}">{{ community.name }}</a>
                <i class="community-icon"><img src="{{ community.icon|thumbnail_url:'community_icon_double' }}" width="16" height="16"></i>
            </span>
            <div class="description">
                <p>{{ community.description }}</p>
            </div>
        {% endfor %}
    </ul>

    {% include "core/_pagination.html" %}

{% endblock content %}
