<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        {# Chrome Frame meta tag #}
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />

        {# CSS files go here #}

    </head>
    <body>
        <h1>Oops! You've found 404!</h1>
        <div style="background: #00c2ff; padding:20px; margin: 20px 0; text-align:center;">
          Are you lost?<br>
          Can we help you to find where you've looking for?<br><br>
          <a href="https://joopea.club/">JoopeA Club</a> | <a href="https://joopea.news/">JoopeA News</a> | <a href="https://joopea.info/">JoopeA Foundation</a><br><br>
          <a href="https://joopea.com/contact/">Contact Us</a>

        </div>
    </body>
</html>
