/* COLORS */
$txt-color: #333;
$joopea-blue: #00c0ff;
$joopea-orange: #ff7440;
$turquoise: #008cba;
$turquoise-hover: #007399;

/* FONTS */
$main-font: 'Muli';
$persian-heading-font: 'weblogmayekan';
$persian-main-font: BMitra, 'BMitra';
$fallback-font: sans-serif;

/* MEDIA QUERIES */
$tablet: "(min-width: 500px) and (max-width: 900px)";
$desktop: "(min-width: 900px)";
$desktop-large: "(min-width: 1200px)";

/* VARIABLES */
